.button {
    cursor: pointer;
    border: none;
    min-width: 148px;
    height: 48px;
    padding: 8px;
    border-radius: 36px;
    text-wrap: nowrap;
    font-family: SpaceGrotesk, sans-serif;
    font-size: 16px;
    text-decoration: none;
  
    @media (max-width: 768px) {
      font-size: 12px;
      width: 88px;
      height: 32px;
      padding: 4px;
      border-radius: 24px;
    }
  }
  
  .buttonSquare {
    cursor: pointer;
    border: none;
    min-width: 148px;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    text-wrap: nowrap;
    font-family: SpaceGrotesk, sans-serif;
    font-size: 16px;
    text-decoration: none;
  
    @media (max-width: 768px) {
      font-size: 12px;
      width: 88px;
      height: 32px;
      padding: 4px;
      border-radius: 4px;
    }
  }
  
  .buttonText {
    transform: translateX(10px);
  }
  
  .buttonStyleGreen {
    color: var(--color-black);
    background-color: var(--theme-color-lime-green);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  
    &:hover {
      background-color: var(--theme-color-dark-green);
      transition: 200ms ease background-color;
    }
  }
  
  .buttonAddStyleGreen {
    color: var(--color-black);
    background-color: var(--theme-color-lime-green);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    min-width: 48px;
    height: 30px;
  
    &:hover {
      background-color: var(--theme-color-dark-green);
      transition: 200ms ease background-color;
    }
  }
  
  .buttonStyleBlack {
    color: var(--color-lime-green);
    background-color: var(--color-black);
    border: 1px solid;
    border-color: var(--theme-color-lime-green);
  }
  
  .buttonStyleGreenWithArrow {
    min-width: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 32px rgba(154, 255, 99, 0.231);
    background-color: var(--color-lime-green);
  
    .buttonText {
      transform: translateX(10px);
    }
  
    .arrowIcon {
      opacity: 0;
      height: 16px;
      stroke: var(--color-black);
  
      @media (max-width: 768px) {
        height: 0.5rem;
      }
    }
  
    &:hover {
      .buttonText {
        animation: buttonTextFadeIn 1s forwards;
      }
      .arrowIcon {
        opacity: 1;
        animation: arrowFadeIn 1s forwards;
      }
  
      transition: box-shadow 200ms ease;
      box-shadow: 0px 0px 32px rgba(154, 255, 99, 0.483);
    }
  }
  
  .buttonStyleBlackWithArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 32px rgba(154, 255, 99, 0.231);
    color: var(--color-lime-green);
    background-color: var(--color-black);
    min-width: 192px;
  
    .buttonText {
      transform: translateX(10px);
    }
  
    .arrowIcon {
      opacity: 0;
      height: 0.4rem;
      stroke: var(--color-lime-green);
  
      @media (max-width: 768px) {
        height: 16px;
      }
    }
  
    &:hover {
      .buttonText {
        animation: buttonTextFadeIn 1s forwards;
      }
      .arrowIcon {
        opacity: 1;
        animation: arrowFadeIn 1s forwards;
      }
  
      transition: box-shadow 200ms ease;
      box-shadow: 0px 0px 32px rgba(154, 255, 99, 0.483);
    }
  }
  
  @keyframes buttonTextFadeIn {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-4px);
    }
  }
  
  @keyframes arrowFadeIn {
    from {
      transform: translateX(-2px);
    }
    to {
      transform: translateX(2px);
    }
  }
  
  .buttonStyleBorderBlack {
    background-color: var(--theme-color-banner);
    border-radius: 4px;
    min-width: 150px;
    font-size: 14px;
    white-space: nowrap;
    color: var(--color-text);
    border: 1px solid #4b5563;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover {
      transition: background-color 200ms ease;
      background-color: var(--color-border);
    }
  }
  
  .buttonStyleCircleBlack {
    background-color: var(--theme-color-banner);
    border: none;
    max-height: 32px;
    max-width: 32px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    cursor: pointer;
    border: 1px solid #4b5563;
  
    &:hover {
      transition: background-color 200ms ease;
      background-color: var(--color-border);
    }
  }
  
  .buttonCircle {
    max-height: 16px;
    border-radius: 24px;
  }
  
  .buttonStyleLink {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    margin-left: -4px;
    font-size: var(--type-scale-7);
  }
  
  .buttonLinkGreen {
    color: var(--theme-color-lime-green);
  }
  
  .buttonCircleBorderBlack {
    border-radius: 32px;
    padding: 4px;
    max-height: 36px;
    border: 1px;
    border: 1px solid var(--color-gray-transparent100);
    cursor: pointer;
  
    &:hover {
      background: 1px solid #76767d;
    }
  }
  